name: CI
on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run tests for circle.py on ${{ matrix.os }}
        run: python -m unittest circle.py
        
      - name: Run tests for rectangle.py on ${{ matrix.os }}
        run: python -m unittest rectangle.py

      - name: Run tests for square.py on ${{ matrix.os }}
        run: python -m unittest square.py

      - name: Run tests for triangle.py on ${{ matrix.os }}
        run: python -m unittest triangle.py
